body {
  text-align: center;
  margin: auto;
}

a,
a:hover {
  color: #e95c20ff;
  text-decoration: none;
}

h1 {
  color: #006747ff;
  text-align: center;
}

.h1posts {
  color: #e95c20ff;
}

h3,
h4 {
  color: #e95c20ff;
  text-align: center;
}

li {
  list-style-type: none;
}

.img-fluid {
  // max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.img-fluid-post {
  // max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 17%;
}
.login {
  font-size: 20px;
  text-align: center;
  color: #006747ff;
}

.counter {
  font-size: 12px;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  border-top: 10px solid #006747ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }

  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.profile-picture {
  width: 225px;
  height: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.list-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.signup_title {
  color: #e95c20ff;
  font-size: 28px;
}

.edit-button {
  width: 80px;
  height: 40px;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
}
