body {
  text-align: center;
  margin: auto;
}

a,
a:hover {
  color: #e95c20ff;
  text-decoration: none;
}

h1 {
  color: #006747ff;
  text-align: center;
}

li {
  list-style-type: none;
}

.img-fluid {
  // max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.login {
  font-size: 20px;
  text-align: center;
  color: #006747ff;
}

.counter {
  font-size: 12px;
}
